{{#if user}}
<div class="page-section">
<div class="row">
	<div class="small-11 small-centered medium-6 medium-offset-3 large-6 large-offset-3 columns">
		<h3>My Fears</h3>
		<br/>
		<br/>
{{!-- 		{{#each users}} --}}
			{{#if user.lines}}
			{{#each user.lines}}
			<ul class="inline">
				<li><p><em>I fear {{text}}</em></p></li>
				<li><button data-id="{{_id}}" class="delete helper">I no longer fear this</button></li>
			</ul>
			{{/each}}
			{{else}}
			You are fearless.
			<br>
			{{/if}}
{{!-- 		{{/each}} --}}
		<br/>
		<br/>
		<h3>My Profile</h3>
		<br/>
		<br/>
			<ul class="inline nobottom">
				<li><p><span class="spaceme">My Username:</span></b> {{user.username}}</p></li>
				<li><button id="edit" class="helper">Edit Username</button></li>
			</ul>
			<form class="form form--hidden" action="" name="update" method="put">
				<input type="text" name="new_username" id="new-username" placeholder="new username">
				<input type="submit" class="update" data-id="{{user._id}}" value="Update Username">
			</form>
	</div>
</div>
</div>
{{!-- {{#if flash}}
    <div class="row flash">
    <div class="small-11 small-centered medium-6 medium-offset-3 large-6 large-offset-3 columns">
          <p class="flash-header"><em>{{flash.header}}</em></p>
          <p><em>{{flash.body}}</em></p>
      </div>
      </div>
  {{/if}} --}} 
  {{!-- Flash message should be there. Don't know how to attach, given that I cannot redirect/render the PUT method --}}
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<script>
// Wait for the DOM to be ready

$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='update']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      new_username: {
      	required: true,
      	minlength: 4
      }
    },
    // Specify validation error messages
    messages: {
      new_username: {
      	required: "Please provide a new username",
      	minlength: "Your new username must be at least 4 characters long"
      }
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
      form.submit();
    }
  });
});

	$('#edit').click(showForm);

	function showForm(event) {
		$('form').show();
	};

	$('.delete').click(deleteLine);

	function deleteLine(event) {

		console.log(this);

		$.ajax({
		    url: '/api/lines/' + this.dataset.id,
		    type: 'DELETE',
		    success: function(response) { 
		    	console.log('deleted');
		    }
		})
		
		$(this).parent().parent().remove();
		$(this).remove();
	};

	$('#edit').click(showForm);

	function showForm(event) {
		$('form').removeClass('form--hidden');
	};

	$('.update').click(updateUsername);

	function updateUsername() { 

		var newUsername = $('#new-username').val();

		var editedUser = {
			new_username: newUsername
		};

		console.log(editedUser);
		console.log(this);

		$.ajax({
			url: '/profile/' + this.dataset.id,
			method: "PUT",
			data: editedUser,
			success: function(response) { 
				console.log('updated');
		    }
    	});
   	};

</script>

{{/if}}